.Upload:before {
  padding: 20px;
  text-align: center;
}

.Upload-content,.Upload-content div{
    padding:5px;
}

.Upload-content{
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
box-shadow: 0 0 10px #ddd;
height:5vh;
background-color:lightgrey;
margin-top:5px;
}
.newButton {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#585858a1;
  font-size: 13px;
  color: #fff;
}
input[type="file"] {
position: relative;
z-index: -1;
left: -98px;
font-size: 15px;
color: rgb(153,153,153);
}
.uploadText{
float: left;
display: inline-block;
margin-top:5px;
font-size:13px;
padding-left: 30px;
}
.buttonWrap{
float: left;
display: inline-block;
padding-top:0px !important;
}
.image{
  width:31%;
  display:inline-block;
  float:left;
}


