.image-container{
  background-color: #e6e6e6;
  /* background-color:#003E5C;   */
  display:inline-block;
  width: 100%;
  padding-left:25px;
}

.image{
  width:30%;
  display:inline-block;
  float: left;
  cursor: pointer;
  background-color: #f8f8f8;
  margin:10px
}

.expanded-image{
  width:90%;
  height:90%;
}
.dialog{
  position:absolute;
  width:50vw;
  height:75vh;
  border:1px solid grey;
  border-radius: 4px;
  top: 15vh;
  left: 30vw;
}

.result-images{
text-align: left;
float:left;
display: inline-block;
padding:10px 0 0 10px;
width:40%;
}

.result-images img{
 width:10vw;
}

.errorClass{
  color:red;
  padding-top:10px;
}

.default-image-class{
  width:30%;
  transform:translateY(25vh)
}

.result-text{
  /* float:right;
  display:inline-block;
  transform: translate(100px,10px) */
  padding-top:10px;
  white-space: nowrap;
  font-size: 13px;
}

.dropdown-class{
  float:right;
  display:inline-block;
  margin-right: 6%;
  margin-top:1%
}